<sadak-header></sadak-header>
<div class="page-content">
    <sadak-intro></sadak-intro>
    <sadak-about></sadak-about>
    <sadak-experience></sadak-experience>
    <sadak-extra-ciricular></sadak-extra-ciricular>
    <sadak-projects></sadak-projects>
    <sadak-skills></sadak-skills>
    <sadak-education></sadak-education>

    <sadak-portfolio></sadak-portfolio>
    <sadak-reference></sadak-reference>
    <sadak-contact></sadak-contact>
</div>
<sadak-footer></sadak-footer>
<!-- <ngx-spinner bdColor="rgba(255,255,255,1)" size="medium" color="#033d5b" type="ball-spin-clockwise"></ngx-spinner> -->
